<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhiw.coolweather.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity android:name=".activity.ChooseAreaActivity" >
           <!-- //android:label="@string/app_name"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeatherActivity"
            android:theme="@style/CustomActionBarTheme" >
            <!--android:label="@string/title_activity_weather" >-->
        </activity>

        <service android:name=".service.AutoUpdateService" />

        <receiver android:name=".receiver.AutoUpdateReceiver" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
